/* Created by: Mr. Coxall
 * Created on: Sep 2020
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #329a4c;
}

p {
  color: #e22c2c;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}
